.Class-Picker{
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    
}

#colors {
    color:rgb(44, 228, 228);
    font-size: 1.6rem;
    cursor:pointer;
}

#user-color{
    height:10rem;
    width:40rem;
    display: flex;
    justify-content: center;
    margin:auto;
}

select {
    height:5rem;
    width:15rem;
    text-align: center;
    margin-top: 2rem;
}

#changeColor-btn{
    height:5rem;
    width:30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

#btn {

    height:4rem;
    color:#222;
    font-weight:bold;
    width:12rem;
    border-radius:5rem;
    cursor:pointer;
    padding:1.5rem;
    background-color: rgb(216, 11, 11);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:0.2s ease-in;
}

#btn:hover{
    background-color: rgb(246, 74, 74);
    transition:0.3s ease-in;
    font-size: 1.8rem;
}